$white : #fff;
$black : #000;
$primary-green : #00a0a1;
$marine-blue : #83cfc8;
$prim-highlight : #151f6d;
$sec-highlight : #0077c8;
$blue : #00b5e2;
$green : #a9c23f;
$yellow : #ffcd00;
$red : #ee5340;
$grey : #F2F2F2;
$darkGrey : #555555;
$backgroundGreen : rgba(0, 160, 161, 0.2);