@import '../../styles/base/main.scss';
.Loader{  
  @include centreAlign;
  width: 100%;
  min-height: 400px;
  background-color: $white;
  .bt-spinner {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid $grey;
    border-top-color: $prim-highlight ;
    -webkit-animation:1s spin linear infinite;
    animation: 1 spin linear infinite;
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

}
.Loader.btnLoader{
  min-height: 100%;
  max-height: 100%;
  background-color: transparent;
  .bt-spinner{
    width: 20px;
    height: 20px;
    border-width: 1px;
  }

}